.App {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 100px 400px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.timer-container {
  display: flex;
  padding: 11px;
  background-color: rgb(183, 183, 183);
  border-radius: 8px;
}

.delete-btn {
  background-color: rgb(183, 183, 183);
  border: none;
  font-size: large;
}

h2 {
  padding: 0;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
.add-btn {
  margin: 10px 0px;
  width: 250px;
  padding: 15px 0px;
  font-size: large;
  border: black 2px solid;
}
.add-btn {
  width: max;
}
.left,
.right {
  margin: 30px;
}
.right {
  margin-top: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
